.App {
  text-align: center;
  min-width: 320px;
}

* {
  font-family: "Poppins";
  font-size: 16px;
}

a:hover {
  color: #77BD75;
}

a {
  color: #768761;
}

div {
  color: white;
}

span.anticon.anticon-info-circle svg {
  width: 1.4rem;
  height: 1.4rem;
}

span.anticon.anticon-robot svg {
  width: 2rem;
  height: 2rem;
}

#nav-root {
  background-color: lightgray;
}

#nav-menu {
  background-color: #77BD75;
  padding: 4px 0 4px 0;
}

.logo {
  height: 48px;
  margin: 16px;
}

.content {
  width: calc(100% - 2rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 16px 16px 0px 16px;
  background-color: #454545;
  color: white;
}

.ant-layout-sider-trigger {
  background-color: #768761;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #768761;
}

.ant-menu-item-selected a:hover {
  color: #768761 !important;
}

.ant-menu-item a {
  color:white !important;
}

.ant-menu-item a:hover {
  color: #768761 !important;
}

.ant-menu-item-selected a {
  color: #768761 !important;
}

.default-button, .default-button:hover, .default-button:focus {
  border: none;
  background-color: #77BD75;
  color: whitesmoke;
}

#shrunk-nav-root {
  margin: 2rem 2rem 1rem 2rem;
  align-self: flex-start;
  display: none;
  float: right;
}

.shrunk-link-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #2b2b2b;
}

@media only screen and (max-width: 768px) {

  #nav-root {
    display: none;
  }

  #shrunk-nav-root {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    
    min-height: 2.6rem;
    align-items: center;
    gap: 2rem;
    border-radius: 8px;
    padding: 2rem 2rem 0rem 2rem;
  }

  .content {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .anticon-mail svg, .anticon-user svg, .anticon-sliders svg {
    font-size: 1.2rem;
  }

} 




