.App {
  text-align: center;
}

* {
  font-family: "Poppins";
  font-size: 16px;
}

a:hover {
  color: #77BD75;
}

a {
  color: #768761;
}

div {
  color: white;
}

#nav-root {
  background-color: lightgray;
}

#nav-menu {
  background-color: #77BD75;
  padding: 4px 0 4px 0;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 16px 16px 0px 16px;
  background-color: #454545;
  color: white;
}

.ant-layout-sider-trigger {
  background-color: #768761;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #768761;
}

.ant-menu-item-selected a:hover {
  color: #768761 !important;
}

.ant-menu-item a {
  color:white !important;
}

.ant-menu-item a:hover {
  color: #768761 !important;
}

.ant-menu-item-selected a {
  color: #768761 !important;
}

.default-button, .default-button:hover, .default-button:focus {
  border: none;
  background-color: #77BD75;
  color: whitesmoke;
}




