#statistics-root {
    text-align: center;
    padding: 10% 8% 10% 8%;
}

#statistics-lists-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.statistics-inline-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statistics-fake-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-size: 3rem;
    font-weight: 800;
    width: 45%;
    height: 40vh;
    min-height: 100px;
    border-radius: 5px;
}

.ant-select-item-option-content {
    color: dimgray !important;
}

.ant-select-arrow {
    color: white;
}