#playlist-root {
    display: flex;
    flex-direction: column;
    padding: 3rem 8% 3rem 8%;
}

#playlist-title {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: left;
}

#playlist-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
}

#playlist-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.playlist-img {
    border-radius: 2%;
    width: 15rem;
    height: 15rem;
    background-size: 15rem 15rem !important;
    border: 0.1rem solid white;
    overflow: auto;
}

@media only screen and (max-width: 768px) {

    .playlist-expanded-img {
        width: 10rem;
        height: 10rem;
        background-size: 10rem 10rem !important;
    }

    #playlist-expanded-info {
        flex-direction: column;
    }

    #playlist-expanded-header {
        margin-bottom: 0rem;
    }

} 

