.anticon-close svg, .anticon-check svg {
    font-size: 12px;
}

#recs-refresh-button {
    background-color: #77BD75;
    color: whitesmoke;
    border: none;
    width: 120px;
    align-self: flex-end;
}

#recs-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3rem;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    align-items:flex-start;
}

.recs-refresh {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.recs-feature {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin-top: 2rem;
}

.queue-button {
    height: 12rem;
    width: 12rem;
    border: none;
    border-radius: 5%;
    margin-bottom: 0.5rem;
    cursor:pointer;
    background-size: 12rem !important;
}

.queue-indicator {
    font-weight: 500;
    font-size: 7rem;
    display: none;
    margin: auto;
    color: dimgray;
}

.queue-button:hover {
    opacity: 50%;
}

.queue-button:hover .queue-indicator, .queue-indicator:hover  {
    display: block;
}

.recs-feature-slider {
    width: 50%;
    color: #768761;
}

.recs-feature-label {
    flex-grow: 1;
    font-weight: 800;
    font-size: 1.6rem;
    color: #77BD75;
}

.ant-slider-with-marks {
    margin-bottom: 0
}

.ant-slider-mark-text {
    color: #A1B592;
    font-weight: 600;
}

.ant-slider-mark-text-active {
    color: white;
    font-weight: 600;
}

.ant-slider-dot {
    background-color: #768761;
    border: none;
}

@media only screen and (max-width: 768px) {
    
    .recs-feature-label {
        flex-grow: 1;
        font-weight: 800;
        font-size: 1rem;
        color: #77BD75;
    }

    .recs-feature {
        flex-direction: column;
        
    }

    .recs-refresh {
        flex-direction: column;
        align-items: center;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        justify-content: center;
        text-align: center;
    }

    #recs-refresh-button {
        background-color: #77BD75;
        color: whitesmoke;
        border: none;
        width: 120px;
        align-self: center;
    }

} 
