#profile-root {
    width: 100%;
    height: 100%;
}

#profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}  

#profile-welcome-text {
    font-size: 2rem;
    font-weight: 600;
    color: #768761;
}

#profile-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 15%;
}

.login-button {
    border: none;
    background-color: #77BD75;
    color: whitesmoke;
    width: 120px;
}