#playlist-expanded-root {
    display: flex;
    flex-direction: column;
    padding: 8% 8% 8% 8%;
}

#playlist-title {
    flex-grow: 1;
    font-size: 3.5rem;
    font-weight: 800;
    margin-left: 2rem;
}

#playlist-expanded-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playlist-img {
    border-radius: 2%;
    width: 15rem;
    height: 15rem;
    background-size: 15rem 15rem !important;
    border: 0.1rem solid white;
}

