#recs-refresh-button {
    background-color: #77BD75;
    color: whitesmoke;
    border: none;
    width: 120px;
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#recs-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3rem;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    align-items:flex-start;
}

.queue-button {
    height: 12rem;
    width: 12rem;
    border: none;
    border-radius: 5%;
    margin-bottom: 0.5rem;
    cursor:pointer;
}

.queue-indicator {
    font-weight: 500;
    font-size: 7rem;
    display: none;
    margin: auto;
    color: dimgray;
}

.queue-button:hover {
    opacity: 50%;
}

.queue-button:hover .queue-indicator, .queue-indicator:hover  {
    display: block;
}

.recs-feature-slider {
    width: 50%;
    color: #768761;
}

.recs-feature-label {
    flex-grow: 1;
    font-weight: 800;
    font-size: 1.6rem;
    color: #77BD75;
}

.ant-slider-with-marks {
    margin-bottom: 0
}

.ant-slider-mark-text {
    color: #A1B592;
    font-weight: 600;
}

.ant-slider-mark-text-active {
    color: white;
    font-weight: 600;
}

.ant-slider-dot {
    background-color: #768761;
    border: none;
}
