#recs-refresh-button {
    background-color: #77BD75;
    color: whitesmoke;
    border: none;
    width: 120px;
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 3rem;
}

#recs-item-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 2rem;
    gap: 1rem;
}

.recs-inline-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: none;
    border-radius: 5px;
}

.recs-sub-info-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recs-list-item {
    width: 100%;
    height: 4rem;
    padding: 0 5% 0 5%;
}

.recs-list-text {
    color: #768761;
    font-weight: 600;
    font-size: 1.2rem;
}

.recs-list-subtext {
    color: #77BD75;
    font-weight: 600;
    font-size: 0.8rem;
}

.recs-list-icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.recs-list-add-button {
    font-size: 4rem;
    font-weight: 600;
}

.recs-feature-slider {
    width: 50%;
    color: #768761;
}

.recs-feature-label {
    width: 50%;
    font-weight: 800;
    font-size: 1.6rem;
    color: #77BD75;
}

.ant-slider-with-marks {
    margin-bottom: 0
}

.ant-slider-mark-text {
    color: #A1B592;
    font-weight: 600;
}

.ant-slider-mark-text-active {
    color: white;
    font-weight: 600;
}

.ant-slider-dot {
    background-color: #768761;
    border: none;
}
