#contact-root {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10% 10% 10%;
    height: 100%;
    gap: 2rem;
}

#contact-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#contact-input {
    font-size: 1.3rem;
}

.contact-text {
    color: #beddbe;
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {

    .contact-text {
        color: #beddbe;
        font-size: 1.5rem;
    }

} 